//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #148c9a;
$secondary: rgba(168, 170, 174, 0.4);
$info: #2c3363;
