.rdt_TableCol_Sortable > .form-control {
  font-size: 1rem !important;
  font-weight: 900 !important;
  color: #3e4954;
}
#pagination-previous-page:not([disabled]),
#pagination-next-page:not([disabled]) {
  fill: #fff;
  background: #0a6fb8;
  border-radius: 0.2rem;
  height: 25px;
  margin-right: 0.4rem;
  padding: initial;
  width: 25px;
}
#pagination-first-page:not([disabled]),
#pagination-last-page:not([disabled]) {
  fill: #fff;
  background: #293f76;
  border-radius: 0.2rem;
  height: 25px;
  margin-right: 0.4rem;
  padding: initial;
  width: 25px;
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
  max-width: 80px !important;
}
.react-dataTable
  .rdt_TableHead
  .rdt_TableHeadRow
  .rdt_TableCol
  .rdt_TableCol_Sortable {
  color: #6e6b7b;
  font-weight: bold;
  font-style: 0.857rem;
  letter-spacing: 0px !important;
  text-transform: uppercase;
}

[dir] .react-dataTable .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol {
  padding: 0.72rem 0.5rem !important;
}
/*
    .horizontal-menu .header-navbar.navbar-brand-center .navbar-header .navbar-brand .brand-logo img {
        max-width: 400px !important;
    }
    [dir=ltr] .horizontal-menu .header-navbar.navbar-brand-center .navbar-header {
        left: calc(0% - 0px) !important;
    }
    */

.dropdown-select {
  /*container for custom dropdown arrow*/
  -webkit-appearance: none;
  -moz-appearance: window;
  padding: 2px 50px 2px 2px;
  border: none;
  background-image: url("../images/icons/chevron-down.png");
  background-repeat: no-repeat;
  background-position: right center;
  font-weight: 500;
}
.dropdown-select:focus {
  outline: none;
}

.active-badge {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(
    --light-opacity-color-success-success-16,
    rgba(40, 199, 111, 0.16)
  );

  color: #18653a;
  font-feature-settings: "clig" off, "liga" off;

  /* Light/Basic Typography/Paragraph Small Semi Bold */
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}
.inactive-badge {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(
    --light-opacity-color-danger-danger-16,
    rgba(255, 0, 0, 0.16)
  );
  color: #b85a00;
  font-feature-settings: "clig" off, "liga" off;

  /* Light/Basic Typography/Paragraph Small Semi Bold */
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}

// principal badge
.main-badge {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(
    --light-opacity-color-primary-primary-16,
    rgba(115, 103, 240, 0.16)
  );
  color: #2416b0;
  font-feature-settings: "clig" off, "liga" off;

  /* Light/Basic Typography/Paragraph Small Semi Bold */
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}

.dependent-badge {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--light-opacity-color-info-info-16, rgba(0, 207, 232, 0.16));
  color: #027f8e;
  font-feature-settings: "clig" off, "liga" off;

  /* Light/Basic Typography/Paragraph Small Semi Bold */
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}

// automatic bg
// background: var(--light-opacity-color-success-success-16, rgba(40, 199, 111, 0.16));
// automatic color  #18653A

.automatic-badge {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(
    --light-opacity-color-success-success-16,
    rgba(40, 199, 111, 0.16)
  );
  color: #18653a;
  font-feature-settings: "clig" off, "liga" off;

  /* Light/Basic Typography/Paragraph Small Semi Bold */
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}

// email table bg background: var(--color-primario-morado-opacidad-8, rgba(115, 103, 240, 0.08));
// email table color

.email-badge {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(
    --color-primario-morado-opacidad-8,
    rgba(115, 103, 240, 0.08)
  );
  padding: auto;
  color: #2416b0;
  font-feature-settings: "clig" off, "liga" off;

  /* Light/Basic Typography/Paragraph Small Semi Bold */
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}

#dropdown-basic {
  color: red !important;
}

.dotted-file-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  height: 142px;
  border: 1px dashed var(--Light-Solid-Color-Extra-Divider, #dbdade);
  .dotted-file {
    cursor: pointer;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: var(--light-opacity-color-gray-gray-8, rgba(75, 70, 92, 0.08));
    margin-bottom: 10px;
  }
  .dotted-file-text {
    font-size: 12px;
    font-weight: 400;
    color: var(--Light-Solid-Color-Text-Primary, #3e4954);
  }
}
