.active-badge {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(
    --light-opacity-color-success-success-16,
    rgba(40, 199, 111, 0.16)
  );

  color: #18653a;
  font-feature-settings: "clig" off, "liga" off;

  /* Light/Basic Typography/Paragraph Small Semi Bold */
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}
.inactive-badge {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(
    --light-opacity-color-danger-danger-16,
    rgba(255, 0, 0, 0.16)
  );
  color: #b85a00;
  font-feature-settings: "clig" off, "liga" off;

  /* Light/Basic Typography/Paragraph Small Semi Bold */
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 107.692% */
}
