@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;  
}
p, span{
  color: #767676 !important;
}
.swiper-container {
  overflow: initial;
}
.swiper-slide {
  width: auto !important;
}
.card-slide {
  height: auto;
  border-radius: 0.9rem;
  box-shadow: 0px 0px 6px 1px rgba(86, 122, 186, 0.5);
  -webkit-box-shadow: 0px 0px 6px 1px rgba(86, 122, 186, 0.5);
  -moz-box-shadow: 0px 0px 6px 1px rgba(86, 122, 186, 0.5);
}
.card-slide.slide-mini {
  width: 197px;
}
.card-content-slide {
  text-align: left;
  padding: 0.8rem;
}
.slide-full {
  display: inline-block;
  width: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #eeeeee;
}
.slide-full:first-of-type {
  padding-top: 0rem;
}
.slide-full:last-of-type {
  padding-bottom: 0rem;
  border-bottom: none;
}
.card-content-slide div p {
  line-height: normal;
}

.item-afiliado {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #eeeeee;
}
.item-afiliado:first-of-type {
  padding-top: 0rem;
}
.item-afiliado:last-of-type {
  padding-bottom: 0rem;
  border-bottom: none;
}

.box-grey {
  padding: 0.2rem 0.8rem;
  background-color: #eaecf0;
  border-radius: 0.4rem;
}
.box-blue-light {
  padding: 0.2rem 0.9rem;
  background-color: #E2F7F6;
  border-radius: 0.4rem;
}
.box-blue-light-alt {
  padding: 0rem 0.75rem;
  background-color: #E2F7F6;
  border-radius: 0.4rem;
}

.bar-menu {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
ion-tab-button {
  width: 20%;
}
.icon-menu {
  background: transparent;
  color: #5238A0;
  letter-spacing: 0rem;
  min-width: 60px;
  max-width: 60px;
  padding: 0.8rem 0rem 0.4rem 0rem;
}
.icon-menu.active {
  background: transparent;
  font-size: 0.7rem;
  font-weight: 100;
  color: #5238A0;/*
  background: linear-gradient(180deg, #00bfbb 0%, rgba(58,34,128,1) 100%);
 
  border-radius: 0.5rem;
  */
}
.bg-trazo{
  background: url(../asset/trazado.svg) 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-info-alt {
  /*background: rgb(14, 56, 92);
  background: linear-gradient(120deg, rgba(158,144,194,1) 0%, rgba(58,34,128,1) 100%);*/
  background: transparent conic-gradient(from 3deg at 31% -8%, #00BFBB 0.00%, #1585A5 28.17%, #372983 49.71%, #3A2280 100.00%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 20px #3881C34D;
  opacity: 1;
}
.bg-info-alt p, .bg-info-alt span{
  color: #ffffff !important;
}
.header-md::after {
  background: 0px;
}

.text-info-light {
  color: #49a8cf;
}
.text-info-dark {
  color: #35226E;
}
.text-gray-medium {
  color: #a0a0a0;
}
.underline {
  text-decoration: underline;
}
.shadow-full {
  /*
  box-shadow: 0px 0px 50px 0px rgb(86 122 186 / 50%);
  -webkit-box-shadow: 0px 0px 50px 0px rgb(86 122 186 / 50%);
  -moz-box-shadow: 0px 0px 50px 0px rgba(86, 122, 186, 0.5);
  */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 10px #3881C34D;
  border-radius: 20px;
  opacity: 1;
}
.searchContainer {
  border-bottom: 0px;
}
.searchbar-input.sc-ion-searchbar-md {
  border-radius: 0.6rem;
  box-shadow: 3px 3px 20px rgb(86 122 186 / 50%);
  -webkit-box-shadow: 3px 3px 20px rgb(86 122 186 / 50%);
  -moz-box-shadow: 3px 3px 20px rgba(86, 122, 186, 0.5);
}
.searchbar-search-icon.sc-ion-searchbar-md {
  color: #3b72a2;
  pointer-events: none;
  right: 0;
  left: auto;
  margin-right: 0.6rem;
}
.searchbar-input.sc-ion-searchbar-md {
  padding-inline-start: 15px !important;
  padding-inline-end: 35px;
  padding-bottom: 4px;
  padding-top: 4px;
}
.btn-filter {
  vertical-align: middle;
  border-radius: 0.5rem;
  padding: 0.64rem;
}
.btn-shadow {
  box-shadow: 1px 4px 16px 2px rgba(86, 122, 186, 0.8);
  -webkit-box-shadow: 1px 4px 16px 2px rgba(86, 122, 186, 0.8);
  -moz-box-shadow: 1px 4px 16px 2px rgba(86, 122, 186, 0.8);
}
.searchbar-search-icon {
  color: #5238A0 !important;
}
.icon-box-details {
  width: 16px;
  height: 16px;
}
.input-color-blue {
  background: #e9f3fc;
  border-radius: 0.4rem;
}
.msj-chat {
  background: #f2f6fa;
  box-shadow: 1px 1px 7px 0px rgb(86 122 186 / 50%);
  -webkit-box-shadow: 1px 1px 7px 0px rgb(86 122 186 / 50%);
  -moz-box-shadow: 1px 1px 7px 0px rgb(86 122 186 / 50%);
}
.box-op {
  background: rgb(255 255 255 / 30%);
  color: #ffffff;
  cursor: pointer;
  border-radius: 0.6rem;
}
.box-op ion-img{
  filter: brightness(100);
}
.box-op.active {
  background: #ffffff;
  color: #3b72a2;
}
.box-op.active span{
  color: #3b72a2 !important;
}
.box-op.active ion-img{
  filter: initial;
}
.w-20 {
  width: 20%;
}
.w-80 {
  width: 80%;
}
.d-grid {
  display: grid;
}
.listas li {
  list-style: initial;
  margin-bottom: 0.6rem;
  line-height: normal;
}

.listas li::marker {
  color: blue;
}

.listas li span {
  margin-left: -8px;
}
:host {
  background: initial;
}
.line-height-13{
  line-height: 1.3 !important;
}
.line-height-1{
  line-height: 1 !important;
}
.right-0{
  right: 0px;
}
.top-0{
  top: 0px;
}
.fs-6 {
  font-size: 6px !important;
  line-height: 1;
}
.fs-8 {
  font-size: 8px !important;
  line-height: 1;
}
.fs-10 {
  font-size: 10px !important;
  line-height: 1;
}
.fs-11 {
  font-size: 11px !important;
  line-height: 1;
}
.fs-30 {
  font-size: 30px !important;
  line-height: 1.5;
}
.fs-32 {
  font-size: 32px !important;
  line-height: 1.5;
}
.fs-36 {
  font-size: 36px !important;
  line-height: 1.5;
}
.lh-normal {
  line-height: normal;
}
.text-underline {
  text-decoration: underline;
}

.list-box:first-of-type {
  padding-top: 0rem !important;
}
.list-box:last-of-type {
  padding-bottom: 0rem !important;
  --inner-border-width: 0 0 0px 0;
}
.border-radius {
  border-radius: 0.4rem;
}
.border-badge{
  border-radius: 2rem;
}
.button-central-deg{
  background: linear-gradient(180deg, rgba(158,144,194,1) 0%, rgba(58,34,128,1) 100%);
  color: #ffffff;
  height: 52px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 16px;
  border-radius: 0.8rem !important;
}
.fav-blue{
  color: #00BFBB;
}

:host(.button-outline) {
  --border-color: var(--ion-color-primary, #533B9A);
  --background: transparent;
  --color: var(--ion-color-primary, #533B9A);
}

.filter-white{
  filter: brightness(0) invert(1);
}
.filter-black{
  filter: brightness(0);
}
.w-24-p{
  width: 24px;
}
ion-button button.button-native{
  border-radius: 0.9rem;
}
.btn-outline{
  --border-width: 1px;
  --border-color: #533B9A;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --background: #ffffff;
  --border-radius: 0.4rem !important;
}
.imagen_perfil_border{
  border-radius: 50%;
  border: 1px solid #533B9A;
}
.perfil-nuevo-lista{
  background: #E3E2E2;
  border-radius: 1.4rem;
}
.perfil-nuevo-lista img{
  width: 28px;
  height: 28px;
  border-radius: initial;
}
.perfil-lista img{
  width: 75px !important;
  height: 75px !important;
  border-radius: 1.4rem !important;
}
.searchbar-clear-button.sc-ion-searchbar-md{
  display: none !important;
}
.field ion-label {
  color: #707070;
}
ion-item.item-interactive{
  color: #707070 !important;
}
.label-stacked.sc-ion-label-md-h, .label-floating.sc-ion-label-md-h {
  margin-bottom: 0.4rem;
}
.ion-color-gray {
  --ion-color-base: var(--ion-color-gray, #c7c7c7) !important;
  --ion-color-base-rgb: var(--ion-color-gray-rgb, 199, 199, 199) !important;
  --ion-color-contrast: var(--ion-color-gray-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-gray-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-gray-shade, #c7c7c7) !important;
  --ion-color-tint: var(--ion-color-gray-tint, #c7c7c7) !important;
}

.field:not(:last-child) {
  margin-bottom: 0.6rem !important;
}

.field ion-label {
  padding-left: 0.2rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.border-menu{
  border-radius: 0 2.5rem 0 0;
}

.menu-principal .item .sc-ion-label-md-h{
  color: #ffffff;
  font-size: 14px;
}

.menu-principal ion-item {
  padding-inline-start: 10px !important;
  padding-inline-end: 10px !important;
}
.menu-principal ion-img {
  filter: brightness(0) invert(1);
}
.menu-principal ion-item.active {
  background:#D9E3ED ;
  border-radius: 0.5rem;
}
.menu-principal ion-item.active ion-img {
  filter: initial;
}
.menu-principal ion-item.active .sc-ion-label-md-h {
  color: #2B4A8F;
  font-weight: 600;
}

.table thead th {
  font-size: 13px;
  font-weight: 400;
}
.table td {
  padding: 6px 10px;
}
.text-gray{
  color: #858585;
}
.height-vh-content{
  height:calc(100vh - 98px); /*menu*/
}
.height-vh-content-right{
  height:calc(100vh - 150px); /*breadcrumbs*/
}
.height-vh-con-table{
  height:calc(100vh - 210px);
}

.scroll-y-detail{
  overflow-y: auto;
  box-sizing: border-box;
  height: 320px;
}
.scroll-y-list{
  overflow-y: auto;
  box-sizing: border-box;
  height: 420px;
}
.scroll-y-detail::-webkit-scrollbar, 
.scroll-y-list::-webkit-scrollbar {
  -webkit-appearance: none;
}
.scroll-y-detail::-webkit-scrollbar:vertical, 
.scroll-y-list::-webkit-scrollbar:vertical {
  width:3px;
}
.scroll-y-detail::-webkit-scrollbar-button:increment,.scroll-y-detail::-webkit-scrollbar-button,
.scroll-y-list::-webkit-scrollbar-button:increment,.scroll-y-list::-webkit-scrollbar-button {
  display: none;
}
.scroll-y-detail::-webkit-scrollbar:horizontal,
.scroll-y-list::-webkit-scrollbar:horizontal {
  height: 10px;
}
.scroll-y-detail::-webkit-scrollbar-thumb,
.scroll-y-list::-webkit-scrollbar-thumb {
  background-color: #9D8FC6;
  border-radius: 8px;
  height: 10px;
}
.scroll-y-detail::-webkit-scrollbar-track,
.scroll-y-list::-webkit-scrollbar-track {
  border-radius: 10px;  
}
.scroll-y-detail::-webkit-scrollbar-track:hover, .scroll-y-detail::-webkit-scrollbar-track:active,
.scroll-y-list::-webkit-scrollbar-track:hover, .scroll-y-list::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.ion-color-warning {
  background-color: rgba(255, 206, 70, 0.43);
}
.ion-color-success {
  background-color: rgba(0, 221, 68, 0.32);
}
.ion-color-warning{
  color: #FF9300;
}
.ion-color-success{
  color: #00A20C;
}
.text-blue-light{
  color: #9D8FC6 !important;
}
.text-blue-medium{
  color: #5238A0 !important;
}
.text-blue-dark{
  color: #35226E !important;
}
